*{margin: 0; padding: 0;}
#container{
    width: 1000px;
    margin: 0 auto;
}

/* header 영역 스타일 */
header{
    /* width 생략 - 1000px 사용 */
    height: 80px;
    background-color: #006699;
}
header #logo{
    width: 200px;
    float: left;
    line-height: 80px;
}
header h1 a{
    color: #fff;
    padding-left: 20px;
    text-decoration: none;
}
header #logo a:hover{
    color: yellowgreen;
}
header nav{
    width: 750px;
    float: right;
    line-height: 80px;
}

nav ul{
    list-style: none;
    margin-right: 60px;
}
nav ul li{
    float: right;
    
}
ul li a{
    display: block;
    padding: 0px 20px;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #2fb2fb;
    color: #fff;
}
section h2{
    margin: 20px;
}